<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-md-5">

            <div class="card">
                <div class="card-body">

                    <form action="/logIn" method="POST">

                        <div class="col">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>

                        <div class="col mt-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <input type="checkbox" id="checkbox" onclick="hidePassword();">
                            <label class="mt-1">Show Password</label> <br>
                        </div>

                        {{#if errorMessage}}
                        <div id="error">{{errorMessage}}</div>
                        {{/if}}

                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark mt-3 mb-1">Acceder</button>
                        </div>

                        <p>Aun no estas registrado? <a href="/signUp"
                                class="text-decoration-none text-primary">Registrate!</a></p>

                        <script>
                            function hidePassword() {
                                var x = document.getElementById("password");
                                if (x.type == "password") { x.type = "text"; }
                                else { x.type = "password"; }
                            }
                        </script>
                    </form>

                </div>
            </div>





        </div>

    </div>

</div>
</div>