<div style="display: none">
    <input id="origin-input" class="controls" type="text" placeholder="Enter an origin location"
        value="Madrid, España" />

    <input id="destination-input" class="controls" type="text" placeholder="Enter a destination location"
        value="Valencia, España" />

    <div id="mode-selector" class="controls">
        <input type="radio" name="type" id="changemode-walking" checked="checked" />
        <label for="changemode-walking">Walking</label>

        <input type="radio" name="type" id="changemode-transit" />
        <label for="changemode-transit">Transit</label>

        <input type="radio" name="type" id="changemode-driving" />
        <label for="changemode-driving">Driving</label>
    </div>
</div>

<div id="map"></div>

<!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtc80oZ9lOnbwQODIRr0lG8MOlhxpXb94&callback=initMap&libraries=places&v=weekly"
    defer></script>


<script src="/js/list-trip.js">
</script>