<div class="principal">

    <input type="text" placeholder="Enter a place" id="origin" style="width:200px;">
    <input type="text" placeholder="Enter a destination" id="destination" style="width:200px;">

    <label for="dayDeparture">Start date:</label>
    <input type="date" id="dayDeparture" name="dayDeparture" value="2023-05-16" min="2023-01-01" max="2030-12-31">

    <button onclick="miFunc()">Haz click</button>




</div>















<script src="js/search.js">
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtc80oZ9lOnbwQODIRr0lG8MOlhxpXb94&libraries=places&callback=initAutocomplete"
    async defer></script>