<div class="hero">
    <h1>Bienvenido a nuestro sitio web</h1>
    <p>Encuentra los mejores viajes y aventuras</p>
    <div class="search-form">
        <h2>Buscar Viajes</h2>

        <div class="form-group">
            <label for="origin">Origen:</label>
            <input type="text" placeholder="Enter a place" id="origin" style="width:400px;">
        </div>
        <div class="form-group">
            <label for="destination">Destino:</label>
            <input type="text" placeholder="Enter a destination" id="destination" style="width:400px;">
        </div>
        <div class="form-group">
            <label for="dayDeparture">Fecha de Salida:</label>
            <input type="date" id="dayDeparture" name="dayDeparture" value="2023-05-16" min="2023-01-01">


        </div>
        <div class="form-group">
            <button onclick="miFunc()">Haz click</button>
        </div>

    </div>
</div>















<script src="js/search.js">
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtc80oZ9lOnbwQODIRr0lG8MOlhxpXb94&libraries=places&callback=initAutocomplete"
    async defer></script>